<div class="static-page content">
	<article>
		<section class="hero is-info">
			<div class="hero-body">
				<p class="title">
					À propos
				</p>
				<p class="subtitle">
					...
				</p>
			</div>
		</section>
		<section class="hero is-info">
			<div class="hero-body">
				<p class="title">
					...
				</p>
				<p class="subtitle">
					Détails de l'à propos
				</p>
				<div class="content">
					<blockquote class="notification is-info is-light content is-size-3 has-text-weight-light">
						<h1 class="title">
							{{ 'home.title' | translate }}
							{{ environment.appTitle }}
						</h1>
						<i class="fa fa-poll"></i>
						{{
							'SENTENCES.framadate-is-an-online-service-for-planning-an-appointment-or-making-a-decision-quickly-and-easily'
								| translate
						}}
					</blockquote>

					<img src="assets/img/undraw_group_selfie_ijc6.svg" alt="image WIP" />

					<div class="columns">
						<div class="column">
							<h2 class="subtitle">
								{{ 'home.subtitle' | translate }}
							</h2>
						</div>
						<div class="column"></div>
					</div>
					<div class="columns">
						<div class="column">
							<img src="assets/img/kind/date.jpeg" alt="sondage date" />
						</div>
						<div class="column">
							<img src="assets/img/kind/classic.jpeg" alt="sondage classique" />
						</div>
					</div>

					<!--					old text-->
					<div class="column">
						<div class="columns">
							<div class="column">
								<h2 class="title is-2">
									<i class="fa fa-format-paint"></i>
									{{ 'SENTENCES.here-is-how-it-works' | translate }}
								</h2>
								<p>
									{{ 'SENTENCES.send-the-poll-link-to-your-friends-or-colleagues' | translate }}

									{{ 'SENTENCES.what-you-can-do' | translate }}
								</p>
								<h2 class="title is-2">
									<i class="fa fa-format-paint"></i>
									{{ 'SENTENCES.view-an-example' | translate }}
								</h2>
								<p>
									<a href="/#/poll/aujourdhui-ou-demain/consultation/simple" class="btn btn-info">
										<i class="fa fa-biking"></i> Aujourd'hui ou demain ?
									</a>
								</p>
								<p>
									<i class="fa fa-gavel"></i>

									{{ 'SENTENCES.framadate-is-licensed-under-the' | translate }}
									<span class="licence has-text-weight-medium">
										<i class="fa fa-gnu"></i>
										GNU Affero v3 Licence
									</span>
								</p>
							</div>

							<div class="column">
								<h2 class="title is-2">
									<i class="fa fa-seeding"></i>
									{{ 'SENTENCES.grow-your-own' | translate }}
								</h2>
								<p>
									{{
										'SENTENCES.if-you-want-to-install-the-software-for-your-own-use-and-thus-increase-your-independence-we-can-help'
											| translate
									}}
									{{
										'SENTENCES.to-participate-in-the-software-development-suggest-improvements-or-simply-download-it-please-visit'
											| translate
									}}
									{{ 'SENTENCES.the-development-site' | translate }}
								</p>
							</div>
						</div>
					</div>
					<!--			statistiques-->
					<p class="title">Statistiques</p>
					<app-wip-todo></app-wip-todo>
					<div class="tile is-ancestor">
						<div class="tile is-4 is-vertical is-parent">
							<div class="tile is-child box">
								<div class="title">
									<i class="fa fa-check-circle"></i>
									62 346
								</div>
								<p>sondages</p>
							</div>
							<div class="tile is-child box">
								<div class="title">
									<i class="fa fa-tachometer"></i>
									223 124
								</div>
								<p>votes</p>
							</div>

							<div class="tile is-child box">
								<div class="title">
									<i class="fa fa-comment-o"></i>
									41 875
								</div>
								<p>commentaires</p>
							</div>
						</div>
						<div class="tile is-parent">
							<div class="tile is-child box">
								<div class="title">
									<i class="fa fa-calendar-check-o"></i>
									44 985
								</div>
								<p>sondages de type date</p>
							</div>

							<div class="tile is-child box">
								<div class="title">
									<i class="fa fa-file-epub"></i>
									22 985
								</div>
								<p>sondages de type classique</p>
							</div>
							<div class="tile is-child box">
								<div class="title">
									<i class="fa fa-check-circle-o"></i>
									123
								</div>
								<p>consensus parfaits</p>
							</div>
						</div>
					</div>

					<button class="button is-primary" [routerLink]="['']">
						Retour
					</button>
				</div>
			</div>
		</section>
	</article>
</div>
